<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rafkhan.android.textual"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.rafkhan.textual.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="me.rafkhan.textual.SmsBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="me.rafkhan.textual.data.TextMessageProvider"
            android:authorities="me.rafkhan.textual.textmessageprovider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        
        <provider
            android:name="me.rafkhan.textual.data.ConversationListProvider"
            android:authorities="me.rafkhan.textual.conversationlistprovider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>